<mat-card>
    <form (submit)="onCreatePolicy(policyForm)" #policyForm="ngForm">
        <mat-form-field>
            <input
              matInput
              name="policy"
              type="text"
              ngModel
              required
              placeholder="Security Policy"
              #policy="ngModel">
          </mat-form-field>
          <br>
          <button *ngIf="!isPolicy"
            mat-raised-button
            type="submit">Add Policy</button>
    </form>

    <h3 *ngFor="let policy of policies">
        <p>
          {{ policy.policy }}
        </p>
      </h3>
</mat-card>
