<mat-toolbar color="primary">
  <span><a routerLink="/">Tune Review</a></span>
  <span class="spacer"></span>
  <ul>

    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink="/create">Add Song</a>
    </li>

    <li *ngIf="!userIsAuthenticated && !adminIsAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
    </li>

    <li *ngIf="!userIsAuthenticated && !adminIsAuthenticated">
        <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Sign-Up</a>
    </li>

    <li *ngIf="userIsAuthenticated || adminIsAuthenticated">
        <button mat-button (click)="onLogout()">Logout</button>
    </li>

    <li *ngIf="adminIsAuthenticated && !userIsAuthenticated">
        <a mat-button routerLink="/addAdmin" routerLinkActive="mat-accent">Add Admin</a>
    </li>

    <li *ngIf="adminIsAuthenticated && !userIsAuthenticated">
        <a mat-button routerLink="/addPolicy" routerLinkActive="mat-accent">Add Security Policy</a>
    </li>

    <li *ngIf="userIsAuthenticated">
        <a mat-button routerLink="/viewPolicy" routerLinkActive="mat-accent">View Security Policy</a>
    </li>

    <li *ngIf="adminIsAuthenticated && !userIsAuthenticated">
        <a mat-button routerLink="/addTakedown" routerLinkActive="mat-accent">Add TN Policy</a>
    </li>

    <li *ngIf="userIsAuthenticated">
        <a mat-button routerLink="/viewTakedown" routerLinkActive="mat-accent">View T/N Policy</a>
    </li>

    <li *ngIf="adminIsAuthenticated">
        <a mat-button routerLink="/viewTools" routerLinkActive="mat-accent">Admin Tools</a>
    </li>
  </ul>

</mat-toolbar>
