<p>
  Tune Review is a website dedicated to all music lovers! Here you will find reviews on any song you can think of
</p>

<input matInput type="text" class="form-control" placeholder="Search" [(ngModel)]="searchTerm"/>
<hr>

<mat-accordion multi="true" *ngIf="posts.length > 0">
  <mat-expansion-panel *ngFor="let post of posts | postFilter:searchTerm">
    <mat-expansion-panel-header>
      {{ post.title }}
    </mat-expansion-panel-header>
    <p>{{ post.content }}
      <br>
      {{ post.album }}
      <br>
      {{ post.year }}
      <br>
      {{ post.genre }}
      <br>
      {{ post.comment }}
      <br>
      {{ post.track }}
      <br>
      {{ post.zeroByte }}
      <br>
      {{ post.header }}
    </p>
    <p>
      Most recent review:
    </p>
    <hr>
    <b>Reviews:</b>
    <h3 class="review-list" *ngFor="let review of reviews">
      <p *ngIf="review.songSrc === post.title">
        <br>
        <br>
        Rating: {{ review.rating }}
        <br>
        <br>
        Review: {{ review.report }}
      </p>
    </h3>
    <mat-action-row *ngIf="userIsAuthenticated && userId === post.creator">
      <a mat-button color="primary" [routerLink]="['/addReview', post.title]">Add Review</a>
      <!--<a mat-button color="primary" [routerLink]="['/edit', post.id]">EDIT</a>-->
      <button mat-button color="warn" (click)="onDelete(post.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="posts.length <= 0">No posts added yet</p>
